extends ../layout

block content
    h3 Books
    a(href='/books/add') Add New Title
    table
        thead
            tr
                th Book Title
                th Cover Image
                th Description
                th Publisher
                th Genre
                th # of Pages
                th
        tbody
            each book in books
                tr
                    td= book.title
                    td
                        img.card-header-image(src=book.cover_image)
                    td= book.description
                    td= book.publisher
                    td= book.genre
                    td= book.page_amount
                    td
                        a(href=`/books/profile/${book.id}`) View Book